$navbar: #414042;
$background: #58595b;
$light-neutral: #939598;
$accent-blue: #54c0dc;
$accent-green: #a7c539;
$accent-red: #ee8d76;
$accent-purple: #a967aa;
$accent-orange: #f3ad1d;
$text-color: white;
$text-font-size: 1em;
$section-height-mobile: 100vh;

@mixin phone-screen {
    @media screen and (max-width: 599px) { @content; }
}

@mixin small {
    @media screen and (min-width: 600px) { @content; }
}

@mixin medium {
    @media screen and (min-width: 900px) { @content; }
}

@mixin large {
    @media screen and (min-width: 1200px) { @content; }
}

body, html {
    background: $background;
    color: $text-color;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    overflow: visible;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

h2, 
h3 {
    display: inline-block;
    margin: 0;
    padding: .5em;
}

p {
    line-height: 1.5;
    margin: 0;
    font-size: $text-font-size;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 10px;
    img {
        max-height: 150px;
    }
}

a {
    font-size: 1.2em;
    font-weight: 700;
    display: inline-block;
    color: $text-color;
    text-decoration: none;
}

a:hover {
    color: $text-color;
    border-bottom: 1px solid;
}

a:active {
    border-bottom: 2px solid;
}

header {
    position: relative;
    z-index: 4;
    height: 90vh;
    background-color: $navbar;
    color: $text-color;
    display: flex;
    justify-content: center;
    align-items: center;
    @include small {
        
    }
}

nav {
    background: $navbar;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    // border: 1px solid $navbar;
    position: sticky;
    z-index: 3;
    top: -1px;
    transition: all .3s ease-in-out;
    @include small {
        display: flex;
        padding: 0 5%;
    }
}

.navbar-up {
    transform: translateY(-10vh);
}

.navbar-logo {
    position: relative;
    @include phone-screen {
        top: 50%;
        transform: translateY(-50%);
    }
    @include small {
        height: fit-content;
        justify-content: left;
        h3 {
            font-size: 1.4em;
        }
    }
}

.expand-button {
    display: none;
    @include phone-screen {
        display: inline-block;
        padding: .5em;
        vertical-align: bottom;
    }
}

.expand-button:hover {
    cursor: pointer;
}

.navbar-items {
    display: inline-block;
    @include phone-screen {
        position: absolute;
        top: 10vh;
        left: 0;
        width: 200px;
    }
    @include small {
        position: static;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        width: 60%;
        max-width: 500px;
        height: fit-content;
        background: $navbar;
        padding: 0;
        li {
            padding: 0;
        }
        a {
            font-size: 1.3em;
        }
    }
}

.sidebar {
    transform: translateX(-165px);
    transition: all .3s ease-in-out;
    @include small {
        transform: translateX(0px);
    }
}

.sidebar-background {
    width: 200px;
    display: inline-block;
    position: absolute;
    z-index: 2;
    //box-shadow: 2px 2px 6px rgba(0,0,0,0.16), 2px 2px 6px rgba(0,0,0,0.23);
    top: 0;
    bottom: 0;
    margin: 0;
    @include small() {
        display: none;
    }
}

.sidebar--open {
    transform: translateX(0);
}

.sidebar-dim {
    visibility: hidden;
    position: fixed;
    top: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    opacity: 0;
    transition: visibility 0s linear 0.5s, opacity .5s;
    @include small {
        display: none;
    }
}

.sidebar-dim--active {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

section {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: $section-height-mobile;
    overflow: auto;
}

footer {
    position: relative;
    z-index: 4;
    box-shadow: 0 -10px 20px rgba(0,0,0,0.19), 0 -6px 6px rgba(0,0,0,0.23);
    p {
        padding: 10px 0;
        background: $light-neutral;
    }
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li {
        text-align: center;
        width: 90%;
        @include small {
            width: 40%;
        }
        @include medium {
            width: 30%;
        }
    }
}

.container {
    margin: 0 auto;
    max-width: 550px;
    padding: 0 30px;
    overflow: hidden;
    @include phone-screen {
        margin-left: 35px;
    }
    @include small {
        max-width: 800px;
    }
    @include medium {
        max-width: 1100px;
    }
}

.center {
    text-align: center;
}

.nested {
    display: none;
}

.heading {
    text-align: center;
}

.blue-text {
    color: $accent-blue;
}

.orange-text {
    color: $accent-orange;
}

.blue {
    background: linear-gradient($accent-blue, $accent-orange);
    @include small {
        background: $accent-blue;
    }
}
.orange {
    background: linear-gradient($accent-orange, $accent-red);
}
.red {
    background: linear-gradient($accent-red, $accent-purple);
}
.purple {
    background: linear-gradient($accent-purple, $light-neutral);
}